<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/dropzone.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}" />
</head>

<body>
    <!-- left-side div -->
    <div class="banner-class">

    </div>

    <!-- right-side div -->
    <center>
        <div class="dropdown-class">
            <!-- IMPORTANT enctype attribute! -->
            <form class="dropzone" id="my-awesome-dropzone" action="{% url 'main:index' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fallback">
                    <input name="file" type="file" />
                </div>
            </form>
            <br>
            <center>
                <p class="lead">TYPE : UnKnown</p>
                <button id="submit-all" type="button" class="btn btn-primary">Submit files</button>
                <button id="next" type="button" class="btn btn-default" data-target="#myModal">Next</button>
            </center>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <script src="{% static 'main/js/dropzone.js' %}"></script>
            <script src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
            <script src="{% static 'main/js/bootstrap.min.js' %}"></script>

            <script type="text/javascript">
                $('#myModal').on('shown.bs.modal', function() {
                    $('#myInput').focus()
                })

                Dropzone.options.myAwesomeDropzone = {
                    paramName: "file",
                    // Prevents Dropzone from uploading dropped files immediately
                    autoProcessQueue: false,
                    init: function() {
                        var submitButton = document.querySelector("#submit-all");
                        myDropzone = this;

                        submitButton.addEventListener("click", function() {
                            console.log("add files")
                            myDropzone.processQueue();
                            // Tell Dropzone to process all queued files.
                        });

                        // You might want to show the submit button only when
                        // files are dropped here:
                        myDropzone.on("addedfile", function() {
                            // Show submit button here and/or inform user to click it.
                            alert("Added file.");
                        });

                        myDropzone.on("complete", function(file) {
                            myDropzone.removeFile(file);
                        });
                    }
                };
            </script>
        </div>
    </center>
</body>

</html>