<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Upload a file in Django 1.5 using Dropzone.js</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/dropzone.css' %}" />
</head>

<body>

    <!-- IMPORTANT enctype attribute! -->
    <form class="dropzone" action="{% url 'main:index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
    <button id="submit-all">
            Submit all files
    </button>

    <script src="{% static 'main/js/dropzone.js' %}"></script>
    <script type="text/javascript">
        Dropzone.options.myDropzone = {
            paramName: "file",
            // Prevents Dropzone from uploading dropped files immediately
            autoProcessQueue: false,

            init: function() {
                var submitButton = document.querySelector("#submit-all")
                myDropzone = this;

                submitButton.addEventListener("click", function() {
                    myDropzone.processQueue();
                    // Tell Dropzone to process all queued files.
                });

                // You might want to show the submit button only when
                // files are dropped here:
                this.on("addedfile", function() {
                    // Show submit button here and/or inform user to click it.
                });

            }
        };
    </script>
</body>

</html>