<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/dropzone.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}" />
</head>

<body>
    <!-- left-side div -->
    <div class="banner-class">
        <a href="/main">
            <p class="lead" id="banner" style="color:white; font-size: 50px; margin: 0 10px;">Skin Analyzer v.01</p>
        </a>
    </div>

    <!-- right-side div -->
    <center>
        <div class="dropdown-class">
            <!-- IMPORTANT enctype attribute! -->
            <br>
            <center>
                <p class="lead" id="result_pred" style="font-size:50px;">TYPE : {{ r_pred }}</p><br><br><br>
                <button id="next" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Recommend</button>
            </center>

            <div id="foo"></div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">

                            <div class="q-1">
                                <p class="lead">Gender?</p>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Male
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" value="">Female
                                    </label>
                                </div>

                                <p class="lead">Age?</p>
                                <select multiple class="form-control">
                                        <option>20</option><option>21</option><option>22</option>
                                        <option>23</option><option>24</option><option>25</option>
                                        <option>26</option><option>27</option><option>28</option>
                                        <option>29</option><option>30</option><option>31</option>
                                        <option>32</option><option>33</option><option>34</option>
                                        <option>35</option><option>36</option><option>37</option>
                                </select>
                                <p class="lead">Atopy?</p>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Yes
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">No
                                    </label>
                                </div>
                                <p class="lead">Allergy?</p>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Yes
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">No
                                    </label>
                                </div>
                            </div>

                            <div class="q-2">
                                <p class="lead">Sunlight time?</p>
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" value="">Less than 1 hour 
                                </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" value="">1~2 hour
                                </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" value="">2~3 hour
                                </label>
                                </div>

                                <p class="lead">Wrinkle?</p>
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" value="">Yes
                                </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                    <input type="checkbox" value="">No
                                </label>
                                </div>
                            </div>

                            <div class="recommend">
                                <center>
                                    <img src="{% static 'main/images/tonimori.jpg' %}" width="300" />
                                </center>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                            <button type="button" class="btn btn-primary" id="survey-button" val="">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <script src="{% static 'main/js/dropzone.js' %}"></script>
            <script src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
            <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'main/js/spin.min.js' %}"></script>

            <script type="text/javascript">
                $('#myModal').on('shown.bs.modal', function() {
                    $('#myInput').focus()
                })

                $(".q-2").hide();
                $(".recommend").hide();
                $("#result_pred").hide();

                $("#close").click(function() {
                    $(".q-1").show();
                    $(".q-2").hide();
                    $(".recommend").hide();

                    $("#survey-button").show();
                    $("#survey-button").val("");
                    $("#survey-button").html("Next");
                });

                $("#survey-button").click(function() {
                    if ($("#survey-button").val() == "") {
                        $(".q-1").hide();
                        $(".q-2").show();
                        $("#survey-button").val("done");
                        $("#survey-button").html("Recommend");
                    } else {
                        $(".q-2").hide();
                        $("#survey-button").hide();
                        $(".recommend").show();
                    }
                });

                var opts = {
                  lines: 13 // The number of lines to draw
                , length: 28 // The length of each line
                , width: 14 // The line thickness
                , radius: 42 // The radius of the inner circle
                , scale: 1 // Scales overall size of the spinner
                , corners: 1 // Corner roundness (0..1)
                , color: '#000' // #rgb or #rrggbb or array of colors
                , opacity: 0.25 // Opacity of the lines
                , rotate: 0 // The rotation offset
                , direction: 1 // 1: clockwise, -1: counterclockwise
                , speed: 1 // Rounds per second
                , trail: 60 // Afterglow percentage
                , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
                , zIndex: 2e9 // The z-index (defaults to 2000000000)
                , className: 'spinner' // The CSS class to assign to the spinner
                , top: '50%' // Top position relative to parent
                , left: '50%' // Left position relative to parent
                , shadow: false // Whether to render a shadow
                , hwaccel: false // Whether to use hardware acceleration
                , position: 'absolute' // Element positioning
                }
                var target = document.getElementById('foo')
                var spinner = new Spinner(opts).spin(target);
                setTimeout(function(){
                    spinner.stop();
                    $("#result_pred").show();
                }, 3000);
                
            </script>
        </div>
    </center>
</body>

</html>
