body {
    background-color: #E8E9EC;
    width: 100%;
}

.banner-class {
    max-width: 360px;
    width: 33.33333%;
    height: 100%;
    float: left;
    padding-right: 20px;
    display: block;
    background-color: #028bf4;
}

.dropdown-class {
    max-width: 760px;
    width: 66.66667%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2.5rem;
    display: block;
}